{{ define "main" }}
  <div class="flex flex-col w-full p-0 m-0">
    {{ partial "layouts/home/hero-health.html" . }}
    {{ partial "layouts/home/misi.html" . }}
    {{ partial "layouts/home/layanan.html" . }}
    {{ partial "layouts/home/storefront-grid.html" . }}
    {{ partial "layouts/home/produk-artikel.html" . }}
    {{ partial "layouts/home/social-feed.html" . }}
    {{ partial "layouts/home/affiliate-cta.html" . }}
  </div>
{{ end }}

{{ define "hero" }}{{ end }}

{{ define "rightsidebar" }}{{ printf "%c" '\u00A0' }}{{ end }}
{{ define "leftsidebar" }}{{ printf "%c" '\u00A0' }}{{ end }}
