{{ define "main" }}
  <article class="prose prose-slate dark:prose-invert max-w-none">
    <header>
      <h1>{{ .Title }}</h1>
      {{ partial "layouts/date.html" . }}
    </header>
    {{ .Content }}
  </article>

  {{ partial "layouts/blocks/recommendations.html" . }}
{{ end }}

{{ define "rightsidebar_content" }}
  {{/* in-this-section.html depends on these being reneredc first. */}}
  {{ $related := partial "layouts/related.html" . }}
  {{ $toc := partial "layouts/toc.html" . }}
  {{ if not .Params.hide_in_this_section }}
    {{ partial "layouts/in-this-section.html" . }}
  {{ end }}
  {{ $related }}
  {{ if $.Store.Get "hasToc" }}
    {{ $toc }}
  {{ end }}
{{ end }}
